<?xml version="1.0"?>

<configuration>
    
    <system.net>
        <mailSettings>
            <smtp from="virtualnotenotificator@gmail.com">
                <network
                    host="smtp.gmail.com"
                    port="587"
                    enableSsl="true"
                    userName="virtualnotenotificator"
                    password="virtualnotenotificatorpassword" />
            </smtp>
        </mailSettings>
    </system.net>


    <appSettings>
        <add key="EmailsXmlFilePath" 
             value="D:\_ISEL\Cadeiras a fazer\Projecto e Seminário\Project\main\VirtualNote.Projecto\VirtualNote.Tests\emailsconfig.xml" />
    </appSettings>
</configuration>
