@model VirtualNote.MVC.Enums.ActionEnum

@section Header
{
    <h1 class="">Projects</h1>

    <div id="bread_crumbs">
		<a href="/">Home</a> / 
		<a href="" class="current_page">Projects</a>				
	</div> <!-- #bread_crumbs -->
}



@{
    ViewBag.Url = @Html.GetUrlFrom("Index", "Projects");
}

@Html.Partial("_Saved", Model)
